<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!-- Replace USERNAME and path to server-test.sh script as per your system -->
<dict>
  <key>KeepAlive</key>
  <true/>
  <key>Label</key>
  <string>com.user.server</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/USERNAME/workplace/server-test.sh</string>
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>/tmp/AlTest1.err</string>

  <key>StandardOutPath</key>
  <string>/tmp/AlTest1.out</string>

  <key>WorkingDirectory</key>
    <string>/Users/zealfire/Documents/greedy/automate-browser</string>
</dict>
</plist>
